

/* ------------------------- Adapriv --------------------------------- */
/* Large Devices, Wide Screens */ 
@media only screen and (max-width: 1280px) { 
} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width: 992px) { 
    .circle, .girl{
        opacity: 0.5;
    }
}
/* Small Devices, Tablets */ 
@media only screen and (max-width: 768px) { 
    .header-top{
        flex-direction: column;
        align-items: center;
    }
    .circle, .girl{
        display: none;
    }
    .about-BW {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        align-items: center;
      }
    
     
    
} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { 
    .navigation ul {
        flex-direction: column;
        gap: 20px;
        margin: 20px;
        align-items: center;

    }
    
    .main{
        margin-top: 150px;;
    }
    .popular{
        margin-top: 200px;
    }  
    .card6 {
        display: none;
    }
    .masters{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .portfolio__list{
        flex-direction: column;
    }

    .brend__icons{
        flex-direction: column;
        
    }
    .brends{
        align-items: center;
    }
} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width: 320px) { 
}